/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 19%;
  }
  .mat-row:hover {
    background-color:#6c757d;
  }

.colums{
  padding-left: 5%;
}

.btn-destroy{
  background-color: #dc3545;
    color: #fff;
}