/* Structure */
table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 19%;
  }
  .mat-row:hover {
    background-color:#6c757d;
  }

.colums{
  text-align: center;
}

.contenedorBtn{

  padding-left: 6%;
  display: inline-block;
}

.destroy{
  color: #dc3545;
}

.edit{
  color:#33C8FA;
}
