<div mat-dialog-title>Actuallizar usuario</div>

<div mat-dialog-content>
    <form [formGroup]="userForm">
        <mat-form-field class="p-2">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="tipo_documento" required>
                <mat-option>-----</mat-option>
                <mat-option *ngFor="let tipo of tipo_documentos" [value]="tipo.documento">
                    {{tipo.nombre_documento | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="p-2">
            <mat-label>Número de documento</mat-label>
            <input type="text" matInput formControlName="numero_documento" required>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Nombres</mat-label>
            <input type="text" matInput formControlName="nombre" required>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Apellidos</mat-label>
            <input type="text" matInput formControlName="apellido" required>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Dirección</mat-label>
            <input type="text" matInput formControlName="direccion" required>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Ciudad</mat-label>
            <input type="text" matInput formControlName="ciudad" required>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Telefono</mat-label>
            <input type="text" matInput formControlName="telefono" required>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Correo</mat-label>
            <input type="text" matInput formControlName="correo" required>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Genero</mat-label>
            <mat-select formControlName="genero" required>
                <mat-option>-----</mat-option>
                <mat-option value='masculino'>Masculino</mat-option>
                <mat-option value='femenino'>Femenino</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Fecha de nacimiento</mat-label>
            <input type="text" matInput formControlName="fecha_nacimiento" required>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado" required>
                <mat-option>-----</mat-option>
                <mat-option *ngFor="let esta  of estado" [value]="esta.idEstado">
                    {{esta.nombreEstado | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Tipo de usuario</mat-label>
            <mat-select formControlName="tipo_usuario" required>
                <mat-option>-----</mat-option>
                <mat-option *ngFor="let tipo  of tipo_usuario" [value]="tipo.id_tipo">
                    {{tipo.nombre_tipo_usuario | titlecase}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="p-2">
            <mat-label>Contraseña</mat-label>
            <input type="text" matInput formControlName="password" required>
        </mat-form-field>


    </form>

    <button [routerLink]="['admin/usuarios']" class="btn-danger mr-3">Reresar</button>
    <button type="submit" class="btn btn-success" (click)="updateUser()">Guardar</button>

</div>