<div mat-dialog-title
style="color: #888888; font-weight: 600; font-family: 'Poppins', sans-serif;">Editar Cita
</div>
<div mat-dialog-content>
<app-loading *ngIf="loading"></app-loading>
    <form [formGroup]="citaGroup">
        <mat-form-field class="col-md-6 .ms-auto" appearance="outline">
            <mat-label>Estado de la cita</mat-label>
            <mat-select formControlName="estado" required>
                <mat-option>-----</mat-option>
                <mat-option *ngFor="let estado of estados" [value]="estado.id">
                    {{estado.estado_cita | titlecase}}
                </mat-option>
                </mat-select>
                <mat-error *ngIf="citaGroup.get('estado').hasError('required')">
                  Por favor seleccione una opción
                </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 .ms-auto" appearance="outline">
          <mat-label>Fecha Cita</mat-label>
          <mat-select formControlName="disponibilidad" required>
              <mat-option>-----</mat-option>
              <mat-option *ngFor="let disponibilidad of disponibilidades" [value]="disponibilidad.id">
                  {{disponibilidad.hora_inicio | date:'EEEE d MMMM, y, h:mm a'}}
              </mat-option>
              </mat-select>
              <mat-error *ngIf="citaGroup.get('estado').hasError('required')">
                Por favor seleccione una opción
              </mat-error>
        </mat-form-field>
        <mat-form-field class="col-md-6 .ms-auto" appearance="outline">
          <mat-label>Paciente</mat-label>
          <input type="text" matInput value="{{cita.nombre+ ' '+cita.apellido | titlecase}}" disabled>
        </mat-form-field>  
  </form>

</div>
<div mat-dialog-actions>
  <button mat-button class="btnCancelar btn-secondary" (click)="cerrar()">Cancelar</button>
  <button [disabled]="!citaGroup.valid" mat-button class="btnGuardar mr-2" (click)="guardar()">Guardar</button>
</div>
