<body style="background-color: #e4edf2;">
    <div class="container animeted fadeInDown">
        <main class="m-5">
            <div id="form_container">
                <div class="row">
                    <div class="col-lg-5">
                        <div id="left_form">
                            <figure><img src="../../../favicon.ico" alt="" width="150px" height="140px" viewBox="0 0 150 150" enable-background="new 0 0 150 150" xml:space="preserve"></figure>
                            <h2>Registro</h2>
                            <p>Apolonia es un software especializado para la
                                administración de consultorios odontológicos
                                que buscan alto rendimiento.</p>
                            <a href="#0" id="more_info" data-toggle="modal" data-target="#more-info"><i class="fa fa-sign-out"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <form>
                            <mat-horizontal-stepper labelPosition="bottom" linear>
                                <mat-step [stepControl]="personalFormGroup">
                                    <form [formGroup]='personalFormGroup'>
                                            <ng-template matStepLabel>Información Personal</ng-template>
                                                <mat-form-field class="width-45">
                                                    <mat-label>Tipo de documento</mat-label>
                                                    <mat-select formControlName="tipo_documento" required>
                                                    <mat-option>-----</mat-option>
                                                    <mat-option *ngFor="let tipo of tipoDocumento" [value]="tipo">
                                                        {{tipo.nombre}}
                                                    </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="personalFormGroup.get('tipo_documento').hasError('required')">Por favor seleccione una opción</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="width-45">
                                                    <mat-label>Número de Documento*</mat-label>
                                                    <input matInput placeholder="Ingrese su Número de Identificación" formControlName='documento'>
                                                    <mat-error *ngIf="personalFormGroup.get('documento').hasError('required')">Por favor ingrese un número de identificación</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="width-45">
                                                    <mat-label>Nombre*</mat-label>
                                                    <input matInput placeholder="Ingrese sus Nombres*" formControlName='nombre'>
                                                    <mat-error *ngIf="personalFormGroup.get('nombre').hasError('required')">Por favor ingrese su nombre</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="width-45">
                                                    <mat-label>Apellido*</mat-label>
                                                    <input matInput placeholder="Ingrese sus Apellidos*" formControlName='apellido'>
                                                    <mat-error *ngIf="personalFormGroup.get('apellido').hasError('required')">Por favor ingrese su apellido</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="width-45">
                                                    <mat-label>Género</mat-label>
                                                    <mat-select formControlName="genero">
                                                    <mat-option>-----</mat-option>
                                                    <mat-option *ngFor="let gen of genero" [value]="gen">
                                                        {{gen.nombre}}
                                                    </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="personalFormGroup.get('genero').hasError('required')">Por favor seleccione una opción</mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="width-45">
                                                    <mat-label>Fecha de nacimiento</mat-label>
                                                    <input matInput [matDatepicker]="picker" formControlName='fecha_nacimiento'>
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
                                                    <mat-error *ngIf="personalFormGroup.get('fecha_nacimiento').hasError('required')">Por favor ingrese una fecha</mat-error>
                                                  </mat-form-field>
                                        <div>
                                            <br>
                                            <button mat-button matStepperNext class="btn-color">Siguiente</button>
                                        </div>
                                        <div>
                                            <small><a class="stretched-link mr-3">¿Ya tienes cuenta?</a></small>
                                            <button mat-button class="btn-outline-color" [routerLink]="['/login']" >Inicia Sesión</button>
                                        </div>
                                    </form>
                                </mat-step>
                                <mat-step [stepControl]='contactFormGroup'>
                                    <form [formGroup]='contactFormGroup'>                                        
                                        <ng-template matStepLabel>Información de contacto</ng-template>
                                        <mat-form-field class="width-45">
                                            <mat-label>Dirección de residencia*</mat-label>
                                            <input matInput placeholder="Ingrese su dirección de residencia" formControlName='direccion'>
                                            <mat-error *ngIf="contactFormGroup.get('direccion').hasError('required')">Por favor ingrese una dirección</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="width-45">
                                            <mat-label>Teléfono*</mat-label>
                                            <input matInput placeholder="Ingrese su teléfono de contacto" formControlName='telefono'>
                                            <mat-error *ngIf="contactFormGroup.get('telefono').hasError('required')">Por favor ingrese un teléfono de contacto</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="width-45">
                                            <mat-label>Ciudad*</mat-label>
                                            <input matInput placeholder="Ingrese su ciudad de residencia" formControlName='ciudad'>
                                            <mat-error *ngIf="contactFormGroup.get('ciudad').hasError('required')">Por favor ingrese una ciudad</mat-error>
                                        </mat-form-field>
    
                                        <div>
                                            <button mat-button matStepperPrevious class="btn-danger mr-3">Regresar</button>
                                            <button mat-button matStepperNext class="btn-color">Siguiente</button>
                                        </div>
                                    </form>
                                </mat-step>
                                <mat-step [stepControl]='loginFormGroup'>
                                    <form [formGroup]='loginFormGroup'>
                                        <ng-template matStepLabel>Inicio de Sesión</ng-template>
                                        <mat-form-field class="width-45">
                                            <mat-label>Correo Electrónico</mat-label>
                                            <input matInput placeholder="Ingrese su correo electrónico" formControlName='correo'>
                                            <mat-error *ngIf="loginFormGroup.get('correo').hasError('required')">Por favor ingrese un correo</mat-error>
                                            <mat-error *ngIf="loginFormGroup.get('correo').hasError('email')">Debe ingresear un correo valido</mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="width-45">
                                            <mat-label>Confirme su Correo Electrónico</mat-label>
                                            <input matInput placeholder="Ingrese de Nuevo su Correo" formControlName='confirmacion_correo'>
                                        </mat-form-field>
                                        <mat-form-field class="width-45">
                                            <mat-label>Contraseña</mat-label>
                                            <input matInput type="password" placeholder="Ingrese una Contraseña" formControlName='password'>
                                        </mat-form-field>
                                        <mat-form-field class="width-45">
                                            <mat-label>Confirme su Contraseña</mat-label>
                                            <input matInput type="password" placeholder="Repita la misma contraseña" formControlName='password_confirmation'>
                                            <mat-error *ngIf="!validPassword">Las contraseñas no coinciden</mat-error>
                                        </mat-form-field>
                                        <div>
                                            <br>
                                            <br>
                                            <button mat-button matStepperPrevious class="btn-danger mr-3">Regresar</button>
                                            <button mat-button matStepper class="btn-primary" (click)="patienSave()">Confirmar</button>
                                        </div>
                                    </form>
                                </mat-step>
                            </mat-horizontal-stepper>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>