<div class="container animated fadeInDown">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title-formulario">
                    <h1>Cuenta nueva</h1>
                </div>
                    <form class="contenedor-formulario" (ngSubmit)=patienSave(form) #form="ngForm">
                        <div class="form-row">
                            <!-- ********* FILA 1 ********* -->  
                            <div class="form-group col-md-4">

                                <div class="form-group">
                                    <label class="col-form-label">Tipo de Documento</label>
                                    <select type="text" class="form-control_formulario" name="documento"
                                    [(ngModel)]="user.tipo_documento" tabindex="1" required>
                                        <option value=""></option>
                                        <option value="cc">Cédula de Ciudadanía</option>
                                        <option value="ce">Cédula Extranjera</option>
                                        <option value="pp">Pasaporte</option>
                                        <option value="ti">Tarjeta de Identidad</option>
                                    </select>
                                    <small class="text-danger" *ngIf="form.submitted && form.controls['documento'].errors">
                                        *Campo documento no puede ir vacío
                                    </small>
                                </div>
                                <div class="form-group "><label class="col-form-label">Apellidos</label>
                                    <input type="text" class="form-control_formulario" name="apellido" [(ngModel)]="user.apellido" 
                                    tabindex="4" minlength="3" maxlength="40" required>
                                    <small class="text-danger" *ngIf="form.submitted && form.controls['apellido'].errors">
                                        *Este campo no puede ir vacío
                                    </small>
                                </div>
                                <div class="form-group "><label class="col-form-label">Teléfono</label>
                                    <input type="text" class="form-control_formulario" name="telefono" [(ngModel)]="user.telefono" 
                                    tabindex="7" minlength="7" maxlength="10" required>
                                    <small class="text-danger" *ngIf="form.submitted && form.controls['telefono'].errors">
                                        *Este campo no puede ir vacío
                                    </small> 
                                </div>                           
                                <div class="form-group "><label class="col-form-label">Contraseña</label>
                                    <input type="password" class="form-control_formulario" name="password" [(ngModel)]="user.password" 
                                    tabindex="10" minlength="6" maxlength="20" required>
                                    <small class="text-danger" *ngIf="form.submitted && form.controls['password'].errors">
                                        *Este campo no puede ir vacío
                                    </small>
                                </div>
                            </div>
                            <!-- ********* FILA 2 ********* -->  
                            <div class="form-group col-md-4">
                                <div class="form-group"><label class="col-form-label">Número de Documento</label>
                                    <input  type="text" class="form-control_formulario" name="cc" [(ngModel)]="user.numero_documento" 
                                    tabindex="2" minlength="6" maxlength="20" required>
                                    <small class="text-danger" *ngIf="form.submitted && form.controls['cc'].errors">
                                        *Este campo no puede ir vacío
                                    </small>
                                </div>
                                <div class="form-group ">
                                    <label class="col-form-label" >Género</label>
                                    <select  name="genero" class="form-control_formulario" [(ngModel)] ="user.genero" 
                                    tabindex="5" type="text" name="genero" required>
                                        <option value=""></option>
                                        <option value="femenino">Femenino</option>
                                        <option value="masculino">Masculino</option>
                                        <option value="otro">Otro</option>
                                    </select>
                                    <small class="text-danger" *ngIf="form.submitted && form.controls['genero'].errors">
                                        *Este campo no puede ir vacío
                                    </small>
                                </div>

                                <div class="form-group "><label class="col-form-label">Dirección</label>
                                    <input type="text" class="form-control_formulario" name="direccion" [(ngModel)]="user.direccion" 
                                    tabindex="8" minlength="3" maxlength="40" required>
                                    <small class="text-danger" *ngIf="form.submitted && form.controls['direccion'].errors">
                                        *Este campo no puede ir vacío
                                    </small>
                                </div>

                                <div class="form-group "><label class="col-form-label">Confirme su contraseña</label>
                                    <input type="password" class="form-control_formulario" name="password_confirmation" [(ngModel)]="user.password_confirmation" 
                                    tabindex="11"  minlength="6" maxlength="20" required> 
                                    <small class="text-danger" *ngIf="confir">
                                        Las contraseñas no coinciden
                                    </small>
                                </div>
                            </div> 
                            
                            <!-- ********* FILA 3 ********* -->  
                            <div class="form-group col-md-4">

                                <div class="form-group "><label class="col-form-label">Nombres</label>
                                    <input type="text" class="form-control_formulario" name="nombre" [(ngModel)]="user.nombre" 
                                    tabindex="3"  minlength="3" maxlength="40"required>
                                    <small class="text-danger" *ngIf="form.submitted && form.controls['nombre'].errors">
                                        *Este campo no puede ir vacío
                                    </small>
                                </div>

                                <div class="form-group">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Fecha de nacimiento</mat-label>
                                        <input tabindex="6" matInput [matDatepicker]="miFecha" name="fecha_nacimiento"

                                        required

                                        [(ngModel)]="user.fecha_nacimiento">
                                        <mat-datepicker-toggle matSuffix [for]="miFecha"></mat-datepicker-toggle>
                                        <mat-datepicker #miFecha></mat-datepicker>
                                      </mat-form-field>
                                </div>

                                <div class="form-group">
                                    <label for="mail" class="col-form-label">Correo</label>
                                    <input type="mail" class="form-control_formulario" name="correo"
                                    [(ngModel)]="user.correo" tabindex="9" minlength="10" maxlength="60"  
                                    required>
                                    <small class="text-danger" *ngIf="form.submitted && form.controls['correo'].errors">
                                        *Este campo no puede ir vacío
                                    </small>
                                </div>
                            </div>
                        </div>  

                       

                       <!-- CODIGO BOTONES ENVIAR CANCELAR -->
                        <div class="row">
                            <div class="col-lg-6"> 
                            <button class="btn-guardar btn btn-success" style="border-radius:16px;" type="submit">Guardar</button>
                            </div>

                            <div class="col-lg-6">
                                <button class="btn-cancelar btn btn-danger"
                                style="border-radius:16px;" type="submit" [routerLink]="['/login']">Cancelar</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
