<!-- AQUI TENEMOS TODAS LAS CARDS -->

<div class="container-fluid" style="padding:2px;">
  <h2><small>&nbsp; Dashboard</small></h2>

<!-- CARDS HEADER -->
<div class="row container">
  <div class="col-xl-4 col-lg-6">
    <div class="contenedor card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase  mb-0">Dashboard</h5>
            <span class="h2 font-weight-bold mb-0">350,897</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape ">
              <i class="fas fa-tachometer-alt"></i>
            </div>
          </div>
        </div>
          <hr>
          <div class="stats">
            <i class="fas fa-tachometer-alt"></i> Dashboards
          </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6">
    <div class="contenedor card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase mb-0">Calendario</h5>
            <span class="h2 font-weight-bold mb-0">2,356</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape">
              <i class="fas fa-calendar-alt"></i>
            </div>
          </div>
        </div>
        <hr>
          <div class="stats">
            <i class="fas fa-calendar-alt"></i> Calendario
          </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-lg-6">
    <div class="contenedor card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase mb-0">Disponibilidad</h5>
            <span class="h2 font-weight-bold mb-0">924</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shap">
              <i class="fas fa-clock"></i>
            </div>
          </div>
        </div>
        <hr>
          <div class="stats">
            <i class="fas fa-clock"></i> Disponibilidad
          </div>
      </div>
    </div>
  </div>
</div>
<!-- END CARDS HEADER -->


<mat-grid-tile *ngFor="let dispo of dispo | async" [colspan]="dispo.cols" [rowspan]="dispo.rows">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        {{dispo.title}}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="table-responsive dashboard-card-content">
      <app-tabla-dispo></app-tabla-dispo>
    </mat-card-content>
  </mat-card>
</mat-grid-tile>
<!-- END CARDS DISPONIBILIDAD -->

<mat-grid-list cols="2" rowHeight="350px">

  <!--CARDS DISPONIBILIDAD -->
  <mat-grid-tile *ngFor="let dispo of dispo | async" [colspan]="dispo.cols" [rowspan]="dispo.rows" >
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{dispo.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="table-responsive dashboard-card-content">
        <app-tabla-dispo></app-tabla-dispo>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- END CARDS DISPONIBILIDAD -->

  <!--CARDS CALENDARIO  -->
  <mat-grid-tile *ngFor="let cards of cards | async" [colspan]="cards.cols" [rowspan]="cards.rows" >
    <mat-card class="dashboard-card">
      <mat-card-header class="card1">
        <mat-card-title class="card1">
          {{cards.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="table-responsive dashboard-card-content">
        <app-calendar></app-calendar>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- END CARDS CALENDARIO -->

  <!--CARDS PERSONAL -->
  <mat-grid-tile  *ngFor="let personal of personal | async" [colspan]="personal.cols" [rowspan]="personal.rows">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{personal.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="table-responsive dashboard-card-content">
        <div>
          <h2><small class="text-muted">&nbsp; Personal</small></h2>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- END CARDS PERSONAL -->

</mat-grid-list>
</div>
