<div mat-dialog-title
style="color: #888888; font-weight: 600; font-family: 'Poppins', sans-serif;"> Crear Cita
</div>

<div mat-dialog-content>
  <form [formGroup]="citaGroup">

        <mat-form-field class="col-md-6 .sm-auto" appearance="outline">
          <mat-label>Consulta</mat-label>
          <mat-select formControlName="consulta" required>
              <mat-option>-----</mat-option>
              <mat-option *ngFor="let consulta of consultas" [value]="consulta.id_consulta">
                  {{consulta.nombre_consulta | titlecase}}
              </mat-option>
              </mat-select>
              <mat-error *ngIf="citaGroup.get('consulta').hasError('required')">
                Por favor seleccione una consulta
              </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-6 .sm-auto" appearance="outline">
          <mat-label>Fecha Inicio</mat-label>
          <mat-select>
          <mat-option>-----</mat-option>
          <input type="text" matInput formControlName="fechaInicio" required>
          </mat-select>
          <mat-error *ngIf="citaGroup.get('fechaInicio').hasError('required')">
            Por favor ingrese fecha inicio
          </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6 .sm-auto" appearance="outline">
        <mat-label>Documento</mat-label>
        <input type="text" matInput formControlName="numero_documento" required>
        <mat-error *ngIf="citaGroup.get('numero_documento').hasError('required')">Por favor ingrese nombre del paciente</mat-error>
      </mat-form-field>

      <button  mat-button  class="btnBuscar"  (click)="buscarDocumento()"><i class="fas fa-search"></i>&nbsp;Buscar Documento</button>

      <mat-form-field class="col-md-6 .sm-auto" appearance="outline">
        <mat-label>Paciente</mat-label>
        <input type="text" matInput formControlName="pacientes" required>
        <mat-error *ngIf="citaGroup.get('pacientes').hasError('required')">Por favor ingrese nombre del paciente</mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button class="btnCancelar btn-secondary" (click)="cerrar()">Cancelar</button>
  <button [disabled]="!citaGroup.valid" mat-button  class="btnGuardar"  (click)="guardar()">Guardar</button>
</div>

