<!-- ********TABLAS CON DATATABLES********* -->
  <div class="container">
      <h3><span class="badge badge-success">Disponibilidad de Citas </span></h3>
      <div class="row">
              <div class="col-sm-12">
                  <div class="table-responsive">        
                      <table id="tablaApolonia" class="table table-striped table-bordered" cellspacing="0" width="100%">
                      <thead>
                          <tr>
                              <th>Médico</th>
                              <th>Especialidad</th>
                              <th>Fecha y Hora</th>                               
                              <th>Lugar</th>
                              <th>Consultorio</th>
                              <th>Valor</th>
                              <th>Estado</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Anamilena Escobar</td>
                              <td>Odontologia General</td>
                              <td>2011/12/13</td>
                              <td>Cra. 6 #25C-26, Bogotá,</td>  
                              <td>Consultorio 101</td>                              
                              <td>$40.000</td>
                              <td><button value="Actualizar" title="Actualizar" class="btn btn-success"><i class="fas fa-check"></i></button>
                                  &nbsp;<button value="Actualizar" title="Actualizar" class="btn btn-danger"><i class="fas fa-minus"></i></button></td>
                          </tr>
                          <tr>
                              <td>Francisco Gutierrez</td>
                              <td>Diseño de Sonrisa</td>
                              <td>2020/12/28</td>
                              <td>Cra. 6 #25C-26, Bogotá,</td>
                              <td>Consultorio 102</td>                                   
                              <td>$150.000</td>
                              <td><button value="Actualizar" title="Actualizar" class="btn btn-success"><i class="fas fa-check"></i></button>
                                  &nbsp;<button value="Actualizar" title="Actualizar" class="btn btn-danger"><i class="fas fa-minus"></i></button></td>

                          </tr>                
                          <tr>
                              <td>Nelson Castro</td>
                              <td>Odontología Preventiva</td>
                              <td>2020/11/29</td>
                              <td>Cra. 6 #25C-26, Bogotá,</td>
                              <td>Consultorio 103</td>                                   
                              <td>$80.000</td>
                              <td><button value="Actualizar" title="Actualizar" class="btn btn-success"><i class="fas fa-check"></i></button>
                                  &nbsp;<button value="Actualizar" title="Actualizar" class="btn btn-danger"><i class="fas fa-minus"></i></button></td>

                          </tr> 
                                 <tr>
                              <td>Francisco Gutierrez</td>
                              <td>Cirugía Oral</td>
                              <td>2020/11/14</td>
                              <td>Cra. 6 #25C-26, Bogotá,</td>
                              <td>Consultorio 106</td>                                   
                              <td>$560.000</td>
                              <td><button value="Actualizar" title="Actualizar" class="btn btn-success"><i class="fas fa-check"></i></button>
                                  &nbsp;<button value="Actualizar" title="Actualizar" class="btn btn-danger"><i class="fas fa-minus"></i></button></td>
                          </tr>                           
                      </tbody>        
                     </table>                  
                  </div>
              </div>
      </div>  
  </div>