<div class="mat-elevation-z8 animated fadeInDown">
    <mat-form-field class="p-3">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="fechaIni">
            <th mat-header-cell *matHeaderCellDef> Fecha inicio de cita </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaIni | date:'EEEE d MMMM, y, h:mm:ss a'}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaFin">
            <th mat-header-cell *matHeaderCellDef> Fecha fin de cita </th>
            <td mat-cell *matCellDef="let element"> {{element.fechaFin | date:'EEEE d MMMM, y, h:mm:ss a'}} </td>
        </ng-container>

        <ng-container matColumnDef="medico">
            <th mat-header-cell *matHeaderCellDef> Medico </th>
            <td mat-cell *matCellDef="let element"> {{element.nMedico+' '+element.aMedico | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="especialidad">
            <th mat-header-cell *matHeaderCellDef> Especialidad </th>
            <td mat-cell *matCellDef="let element"> {{element.especialidad | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="consultorio">
            <th mat-header-cell *matHeaderCellDef> Consultorio </th>
            <td mat-cell *matCellDef="let element"> {{element.consultorio | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Aciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button class="btn-primary" focusable="false" (click)="agendar(element.Id)">
                    Agendar
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
