<div class="col-md-10">
    <h2>Información del Paciente</h2>
    <br>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label>Tipo de Identificación</label>
              <input type="text" class="form-control" value= {{datos.paciente.tipo_documento}}>
            </div>
            <div class="form-group col-md-6">
              <label>Número de Identificación</label>
              <input type="text" class="form-control" value= {{datos.paciente.numero_documento}}>
            </div>
          </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Nombres</label>
            <input type="text" class="form-control" value= {{datos.paciente.nombre}}>
          </div>
          <div class="form-group col-md-6">
            <label>Apellidos</label>
            <input type="text" class="form-control"value= {{datos.paciente.apellido}}>
          </div>
        </div>
        <div class="form-group">
            <label>Alergías</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Enfermedades</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Enfermedades Familiares</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Cirugías</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Medicamentos</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Otros</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="submit" class="btn btn-danger m-3">Cancelar</button>
      </form>
</div>