mat-form-field{
    width: 50%;
    color: rgb(0, 0, 0);
}

mat-label{
  font-weight: 300;
}
.btnRegresar{
  background-image: linear-gradient(to right, #33C8FA 0%, #33C8FA 51%, #33C8FA 100%);
  font-size: large;
  margin-left:88%;
  padding-bottom: 5px;
  font-family:s'Poppins', sans-serif;
  font-weight:500;
  border-radius: 6px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  color: white;
  cursor: pointer;
}
.btnRegresar:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
