<div class="container animated fadeIn">
    <div mat-dialog-title>Información del Paciente</div>

    <div mat-dialog-content>
        <form [formGroup]="pacienteGroup">
            <div class="row mx-lg-n5">
                <mat-form-field class="p-2" appearance="outline">
                    <mat-label>Tipo de documento</mat-label>
                    <input type="text" matInput formControlName="tipo_documento"
                    [value]="pacienteGroup.get('tipo_documento').value| titlecase">
                </mat-form-field>
                <mat-form-field class="p-2" appearance="outline">
                    <mat-label>Número de documento</mat-label>
                    <input type="text" matInput formControlName="numero_documento">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="p-2" appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input type="text" matInput formControlName="nombre"
                    [value]="pacienteGroup.get('nombre').value| titlecase">
                </mat-form-field>
                <mat-form-field class="p-2" appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input type="text" matInput formControlName="apellido"
                    [value]="pacienteGroup.get('apellido').value| titlecase">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="p-2" appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input type="text" matInput formControlName="direccion">
                </mat-form-field>
                <mat-form-field class="p-2" appearance="outline">
                    <mat-label>Ciudad</mat-label>
                    <input type="text" matInput formControlName="ciudad"
                    [value]="pacienteGroup.get('ciudad').value| titlecase">
                </mat-form-field>
            </div>
            <div class="row">
                    <mat-form-field class="p-2" appearance="outline">
                        <mat-label>Telefono</mat-label>
                        <input type="text" matInput formControlName="telefono">
                    </mat-form-field>
                    <mat-form-field class="p-2" appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input type="text" matInput formControlName="correo"
                        [value]="pacienteGroup.get('correo').value| titlecase">
                    </mat-form-field>
            </div>
        </form>
        <button mat-raised-button class="btn btnRegresar btn-secondary" focusable="false" [routerLink]="['/doctor/pacientes']">
            Regresar
        </button>
        <br><br>
    </div>
</div>

