<app-loading *ngIf="loading"></app-loading>

<div class="mat-elevation-z8 animated fadeInDown">
    <button [routerLink]="['/admin/sintomas/crear']" class="btnCrear btn btn-primary">
    <i class="fas fa-user"></i> Crear sintoma
  </button> &nbsp;
    <mat-form-field class="p-3" style="font-weight: 600; margin-left:85%; font-size:13px;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="table table-bordered table-responsive" matTableExporter #exporter="matTableExporter">

        <ng-container matColumnDef="nombre_sintoma">
            <th mat-header-cell *matHeaderCellDef> Nombre sintoma </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre_sintoma | titlecase}} </td>
        </ng-container>
        <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef> Color </th>
            <td mat-cell *matCellDef="let element"> {{element.color }} </td>
        </ng-container>

        <ng-container matColumnDef="Acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button class="destroy" (click)="elimiarSintoma(element.id)" focusable="false"><i class="fas fa-trash-alt"></i>
                </button>
                <button mat-icon-button class="edit" [routerLink]="['/admin/sintomas/actualizar/'+element.id]">
                <i class="fas fa-pen-alt"></i>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>