<div mat-dialog-content>
  <h2>Actualizar Tratamiento</h2>
    <form [formGroup]="treatmentModel">

        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Nombre Tratamiento</mat-label>
            <input type="text" matInput formControlName="nombre_tratamiento" required>
            <mat-error *ngIf="treatmentModel.get('nombre_tratamiento').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>

        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Color del Síntoma</mat-label>
            <input type="text" matInput formControlName="valor_tratamiento" required>
            <mat-error *ngIf="treatmentModel.get('valor_tratamiento').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>

    </form>

    <div class="btnContainer">
        <button type="button" [routerLink]="['/admin/tratamientos']" class="btn btnRegresar btn-secondary" style="border-radius: 6px;">Regresar</button>
        <button type="submit" class="btn btnGuardar" style="border-radius: 6px;" (click)="actualizarTratamiento()">Guardar</button>
    </div>



</div>
