<!-- AQUI TENEMOS TODAS LAS CARDS -->

<div class="container-fluid" style="padding:2px;">

<!-- CARDS HEADER -->
  <div class="row container">

<!--CARD CITAS ASIGNADAS -->

    <div class="col-xl-4 col-lg-6" [routerLink]="[rutas.asignadas]">
      <div class="contenedor card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase  mb-0">citas asignadas</h5>
              <span class="h2 font-weight-bold mb-0">{{datos_dash['asignadas']}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape ">
                <i class="fas fa-calendar-alt"></i>
              </div>
            </div>
          </div>
            <hr>
            <div class="stats">
              <i class="fas fa-calendar-alt"></i> Citas asignadas
            </div>
        </div>
      </div>
    </div>
<!--END CARD CITAS ASIGNADAS -->

<!--CARD CITAS ASISTIDAS -->
    <div class="col-xl-4 col-lg-6" *ngIf="!doctor" [routerLink]="[rutas.asistidas]">
      <div class="contenedorUsuarios card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase mb-0">Citas Asistidas</h5>
              <span class="h2 font-weight-bold mb-0">{{datos_dash['asistidas']}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape">
                <i class="fas fa-briefcase"></i>
              </div>
            </div>
          </div>
          <hr>
            <div class="stats">
              <i class="fas fa-briefcase"></i> Citas Asistidas
            </div>
        </div>
      </div>
    </div>
<!--END CARD CITAS ASISTIDAS -->

<!--CARD CITAS ELIMINADAS -->
    <div class="col-xl-4 col-lg-6" *ngIf="!doctor" [routerLink]="[rutas.canceladas]">
      <div class="contenedorEliminado card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase mb-0">Citas Canceladas</h5>
              <span class="h2 font-weight-bold mb-0">{{datos_dash['canceladas']}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shap">
                <i class="fas fa-times"></i>
              </div>
            </div>
          </div>
          <hr>
            <div class="stats">
              <i class="fas fa-times"></i> Citas Canceladas
            </div>
        </div>
      </div>
    </div>
<!--END CARD CITAS ELIMINADAS -->

<!--CARD DISPONIBILIDAD -->
    <div class="col-xl-4 col-lg-6" *ngIf="recepcion || administrador" [routerLink]="[rutas.disponibilidades]">
      <div class="contenedorDispo card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase mb-0">Disponibilidad</h5>
              <span class="h2 font-weight-bold mb-0">{{datos_dash['disponibilidades']}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shap">
                <i class="fas fa-clock"></i>
              </div>
            </div>
          </div>
          <hr>
            <div class="stats">
              <i class="fas fa-clock"></i> Disponibilidad
            </div>
        </div>
      </div>
    </div>
<!--END CARD DISPONIBILIDAD -->

<!--CARD USUAIRIOS ACTIVOS -->
<div class="col-xl-4 col-lg-6" *ngIf="administrador" [routerLink]="[rutas.activos]">
  <div class="contenedorActivos card card-stats mb-4 mb-xl-0">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title text-uppercase mb-0">Usuarios Activos</h5>
          <span class="h2 font-weight-bold mb-0">{{datos_dash['activos']}}</span>
        </div>
        <div class="col-auto">
          <div class="icon icon-shap">
            <i class="fas fa-users"></i>
          </div>
        </div>
      </div>
      <hr>
        <div class="stats">
          <i class="fas fa-users"></i> Usuarios Activos
        </div>
    </div>
  </div>
</div>
<!--END CARD USUARIOS ACTIVOS -->

<!--CARD USUAIRIOS INACTIVOS -->
<div class="col-xl-4 col-lg-6" *ngIf="administrador" [routerLink]="[rutas.inactivos]">
  <div class="contenedorInactivos card card-stats mb-4 mb-xl-0">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title text-uppercase mb-0">Usuarios Inactivos</h5>
          <span class="h2 font-weight-bold mb-0">{{datos_dash['inactivos']}}</span>
        </div>
        <div class="col-auto">
          <div class="icon icon-shap">
            <i class="fas fa-users-slash"></i>
          </div>
        </div>
      </div>
      <hr>
        <div class="stats">
          <i class="fas fa-users-slash"></i> Usuarios Inactivos
        </div>
    </div>
  </div>
</div>
<!--END CARD USUARIOS ANACTIVOS -->

</div>
<!-- END CARDS HEADER -->




<!-- CARDS DISPONIBILIDAD -->
  <mat-grid-tile *ngFor="let dispo of dispo | async" [colspan]="dispo.cols" [rowspan]="dispo.rows">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          {{dispo.title}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="table-responsive dashboard-card-content">
        <app-tabla-dispo></app-tabla-dispo>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- END CARDS DISPONIBILIDAD -->

  <mat-grid-list cols="2" rowHeight="350px">

    <!--CARDS DISPONIBILIDAD -->
   <!--  <mat-grid-tile *ngFor="let dispo of dispo | async" [colspan]="dispo.cols" [rowspan]="dispo.rows" >
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{dispo.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="table-responsive dashboard-card-content">
          <app-tabla-dispo></app-tabla-dispo>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->
    <!-- END CARDS DISPONIBILIDAD -->

    <!-- CARDS CALENDARIO
    <mat-grid-tile *ngFor="let cards of cards | async" [colspan]="cards.cols" [rowspan]="cards.rows" >
      <mat-card class="dashboard-card">
        <mat-card-header class="card1">
          <mat-card-title class="card1">
            {{cards.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="table-responsive dashboard-card-content">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    END CARDS CALENDARIO -->

    <!--CARDS PERSONAL
    <mat-grid-tile  *ngFor="let personal of personal | async" [colspan]="personal.cols" [rowspan]="personal.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{personal.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="table-responsive dashboard-card-content">
          <div>
            <h2><small class="text-muted">&nbsp; Personal</small></h2>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    END CARDS PERSONAL -->

  </mat-grid-list>
</div>
