header{
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

.container{
    background: #c0e2ff;
    border-radius: 9px;
    padding: 25px;
    flex-grow: inherit;
}

/*estilos para la tabla*/
table th {
    background-color: #337ab7 !important;
    color: white;
}
table>tbody>tr>td {
    vertical-align: middle !important;
}

/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
}