.container{
    background-color: #E9F8FC;
    margin-top: 50px;
    color: #676a6c;
    overflow-x: hidden;
    border-radius: 9px;
}
/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical {
    position: absolute !important;
}


.btn-guardar{
    width:60%;
    text-align: center;
    border-radius: 16px;
    display: block;
    margin:20px auto;
    font-weight: 900;

}

.btn-cancelar{
    width: 60%;
    text-align: center;
    display: block;
    margin:20px auto; 
    font-weight: 900;
}