<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="/assets/img/small-profile.jpg">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">{{nombre | titlecase}}</span>
                        <span class="text-muted text-xs block">{{rol | titlecase}} </span>
                    </a>
                </div>
                <div class="logo-element">
                <img src="../../../favicon.ico" width="50" height="50" alt="image" class="rounded-circle">
                </div>
            </li>
            <li routerLinkActive="active" *ngIf="admin">
                <a [routerLink]="['/admin/usuarios']" ><i class="fa fa-user-o"></i>Usuarios</a>
            </li>
            <li routerLinkActive="active" *ngIf="admin">
                <a [routerLink]="['/admin/agenda']"><i class="fa fa-book"></i>Agenda</a>
            </li>
            <li routerLinkActive='active'>
                <a class="nav-link" [routerLink]="['/home']"><i class="fa fa-home"></i> <span class="nav-label"> Inicio</span></a>
            </li>
            
            <li routerLinkActive='active' *ngIf="paciente">
                <a class="nav-link" [routerLink]="['/citas']"><i class="fa fa-calendar"></i> <span class="nav-label"> Citas</span></a>
            </li>
            
            <!--CÓDIGO JD-->
            <li routerLinkActive='active' *ngIf="recepcionistapc">
                <a class="nav-link" [routerLink]="['/calendar']"><i class="fas fa-calendar-alt"></i> <span class="nav-label"> Calendario</span></a>
            </li>
            <li routerLinkActive='active' *ngIf="recepcionistapc">
                <a class="nav-link" [routerLink]="['/dispo']"><i class="fas fa-clock"></i> <span class="nav-label"> Disponibilidad</span></a>
            </li>
            <!-- END CÓDIGO JD-->

            <li routerLinkActive='active' *ngIf="doctoropc">
                <a class="nav-link" [routerLink]="['/doctor/agenda']"><i class="fas fa-calendar-alt"></i> <span class="nav-label"> Citas Asignadas</span></a>
            </li>

            <li routerLinkActive='active' *ngIf="doctoropc">
                <a class="nav-link" [routerLink]="['/doctor/odontograma']"><i class="fa fa-tooth"></i> <span class="nav-label"> Odontograma</span></a>
            </li>
            <li routerLinkActive='active' *ngIf="paciente">
                <a class="nav-link" [routerLink]="['/historiaClinica']"><i class="fa fa-book"></i> <span class="nav-label"> Historial clinico</span></a>
            </li>
            <li routerLinkActive='active'>
                <a (click)="logout()" href="#"><i class="fa fa-power-off"></i> <span class="nav-label"> Cerrar Sesión</span></a>
            </li>
        </ul>

    </div>
</nav>