<div class="mat-elevation-z8 animated fadeInDown">

<h3>Lista de usuario</h3>

<table class= "table table-light">
<thead>
<tr>
<th>Tipo documento</th>
<th>Numero de documento</th>
<th>Nombres</th>
<th>Apellidos</th>
<th>Direccion</th>
<th>Ciudad</th>
<th>Telefono</th>
<th>Correo</th>
<th>Genero</th>
<th>Fecha de nacimiento</th>
<th>Tipo usuario</th>
<th>Estado</th>
<th>Acciones</th>
</tr>
</thead>
<tbody>
    <tr *ngFor="let item of administrator">
<td>{{ item.tipo_documento }}</td>
<td>{{ item.numero_documento }}</td>
<td>{{ item.nombre }}</td>
<td>{{ item.apellido }}</td>
<td>{{ item.direccion }}</td>
<td>{{ item.ciudad }}</td>
<td>{{ item.telefono }}</td>
<td>{{ item.correo }}</td>
<td>{{ item.genero }}</td>
<td>{{ item.fecha_nacimiento }}</td>
<td>{{ item.tipo_usuario }}</td>
<td>{{ item.estado }}</td>
    </tr>
</tbody>
</table>