<body>
    <router-outlet *ngIf="activo"></router-outlet>
    <div id="wrapper" *ngIf="!activo" class="animated fadeInDown">
    <app-navbar></app-navbar>
    <div id="page-wrapper" class="gray-bg dashbard-1">
            <app-header></app-header>
        <div class="border-bottom white-bg dashboard-header">
            <div class="crumbs-container">
                <ngx-crumbs
                  containerClass="pl-3 breadcrumb mb-3"
                  itemClass="breadcrumb-item"
                ></ngx-crumbs>
              </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
</body>
