<body class="contenedor-login">
    <div class="logotipo">
        <img src="../../../assets/img/loggoApolonia.png"
        alt="Logo Apolonia">
        </div>
    <div class="row1 justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">    
                <div class="ibox-content-1">
                    <h1 class="heading-section">Bienvenido</h1>
                    <form class="m-t" (ngSubmit)=login(form) #form="ngForm">

                        <div class="form-group-1" >
                            <small class="text-danger" *ngIf="form.submitted && form.controls['correo'].errors">
                                Falta ingresar un correo electronico
                            </small>
                            <br>
                            <input name="correo" type="email" class="form-control-1" placeholder="Ingrese un correo electrónico" [(ngModel)]="user.correo" required mail>
                        </div>

                        <div class="form-group-1">
                            <small class="text-danger" *ngIf="form.submitted && form.controls['password'].errors">
                                No ha ingresado una contraseña
                            </small>
                            <br>
                            <input matInput type="password"  name="password" class="form-control-1" placeholder="Ingrese su contraseña" [(ngModel)]="user.password" required>
                            
                        </div>
                        
                        <button type="submit" class="btn-iniciarsesion">Iniciar Sesión</button>
    
                        <div class="form-group d-md-flex">
                            <div class="w-50">
                                <label class="checkbox-wrap checkbox-primary">
                                <input class="checkbox" type="checkbox" checked="">Remember Me</label>
                            </div>
                                <div class="w-50 text-md-right">
                                    <a class="checkbox-wrap" href="#" >Forgot Password</a>
                                </div>
                        </div>
    
                        <a class="crear-cuenta" [routerLink]="['/register']">Crear cuenta nueva</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>