<body class="contenedor-add">
    <div class="login-Columns animated fadeInDown">
        <div class="row">
    
            <div class="contenedor-add_login col-md-6">
                <div class="logo-apolonia">
                    <img src="./../../../assets/img/loggoApolonia.png" alt="Logo Apolonia" width="200px">
                </div>
                <div class="imagen-risa">
                    <img src="./../../../assets/img/risa.jpg" alt="" width="401px">
                </div>
                
            </div>

            <div class="contenedor-login col-md-6">
                <div class="ibox-content-1">
                    <h1>Bienvenido</h1>
                    <form class="m-t" (ngSubmit)=login(form) #form="ngForm">

                        <div class="form-group" >
                            <small class="text-danger" *ngIf="form.submitted && form.controls['correo'].errors">
                                Falta ingresar un correo electronico
                            </small>
                            <input name="correo" type="email" class="form-control-1" placeholder="Correo" [(ngModel)]="user.correo" required mail>
                        </div>

                        <div class="form-group-1">
                            <small class="text-danger" *ngIf="form.submitted && form.controls['password'].errors">
                                No ha ingresado una contraseña
                            </small>
                            <input type="password" name="password" class="form-control-1" placeholder="Contraseña" [(ngModel)]="user.password" required>
                        </div>
                        
                        <button type="submit" class="btn-iniciarsesion">Iniciar Sesión</button>
    
                        
                        <a class="olvido-contraseña" href="#">
                            <small>¿Olvido su contraseña?</small>
                        </a>
    
                        <a class="crear-cuenta" [routerLink]="['/register']">Crear cuenta</a>
                    </form>


                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Apolonia <br>
                <a href='https://www.freepik.es/fotos/moda'>Foto de Moda creado por valuavitaly - www.freepik.es</a>
            </div>
             
            <div class="col-md-6 text-right">
               <small>© 2020</small>
            </div>
        </div>
    </div>
</body>