*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .contenedor-login{
  width: 100%;
  height: 100%;
  background-size:contain;
  background: url(./../../../assets/img/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 0px;
}

body .contenedor{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.container-login {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.logotipo{
  display: flex;
  margin-top:-45px;
  margin-left: 15px;
  position: absolute;
  z-index: 1;
}
.heading-section {
  /*background: url(../../../assets/img/loggoApolonia.png);*/
  font-size: 28px;
  color:#33C8FA;
}

/********* AQUI TENEMOS LA CAJA DEL LOGIN *********/
.col-md-6.col-lg-4 {
  background: #ffffff;
  /**border:  solid #33C8FA !important;*/
  box-shadow: 5px 10px 10px 0#88888859;
  /**margin-right: 300px;*/
  /**margin-top: -30px;*/
  border-radius: 19px;
}
/********* AQUI TERMINA EL CODIGO DEL LOGIN *********/



.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.p-0{
  padding: 0 !important;
}

/********* CODIGO MODIFICADO LOGIN *********/
.login-Columns {
  max-width: 1000px;
  height: 700px;
  margin: 18px auto;
  padding: 5px 50px 5px 50px;
}

.contenedor-add_login{
  padding-top:70px;
  height: 600px;
  border-radius: 11px 0 0 11px ;
  background:  rgb(255, 255, 255);
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/********* CODIGO CONTENEDOR DERECHO *********/
.contenedor-login{
  border-radius: 0 11px 11px 0;
  padding-top:70px;
  height: 600px;
  background:  #E9F8FC;
}

.ibox-content-1 h1{
  padding: 25px 0 30px 0;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
}

/********* ESTILO CORRREO CONTRASEÑA *********/
.form-control-1{
  width: 100%;
  height: 50px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: inherit;
  color: #444444 !important;
  border: 1px solid #33C8FA !important;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

/********* ESTILO BOTON INICIAR SESIÓN*********/
.btn-iniciarsesion{
  cursor: pointer;
  background-color: #1686FA;
  color: #ffffff;
  border-radius: 19px;
  border: none;
  font-size: 20px;
  font-weight: 900;
  display: block;
  padding: 6px 12px;
  margin: 50px 0 30px 0;
  width: 100%;
}

/********** ESTILO RECUPERAR CONTRASEÑA *********/
.olvido-contraseña{
  color: #002E54;
  text-decoration: none;
  margin-top:-10px; 
  margin-left: 100px;
}

.olvido-contraseña_1:hover{
  text-align: center;
  color: #008cff;
  text-decoration: none;
  font-size: 12px;
  font-weight:400;
  display: flex;
  
}

/********* ESTILO CREAR CUENTA *********/
.crear-cuenta{
  width: 70%;
  margin: 30px 60px;
  padding: 9px 12px;
  display: block;
  text-align: center;
  cursor: pointer;
  color: #008cff !important;
  text-decoration: none;
  border: none;
  font-size: 19px;
  font-weight: 600;
  display: block;
  
}

.w-50 {
  width: 50% !important;
  color: #008cff;
  padding: 12px 30px;
}

.checkbox{
margin-right: 9px;
}

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 2px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  user-select: none;
}

.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2);
}

.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(255, 255, 255, 0.1);
  font-size: 20px;
  margin-top: -4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

*, *::before, *::after {
  /* -webkit-box-sizing: border-box; */
  box-sizing: border-box;
}
/*OJO*/
.field-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.9);
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}

/********* ESTILO RESPONSI LOGIN DERECHO *********/
@media (max-width:414px){
  .contenedor-add{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .contenedor-add_login{
    height:593px;
    display: block;
    position: relative;
    background:  rgb(255, 255, 255);
    border-radius: 0 0 0 0;
  }
  .login-Columns{
    background: #ffffff;
    height: 598px;
    margin: auto;
  }
  .imagen-risa{
    margin: -76px 0 0 -37px;
    width:100%;
    opacity: 0.6;
  }
  .logotipo{
    display: flex;
    margin-top:-60px;
    margin-left:-40px;
    position: absolute;
    z-index: 5;
  }
}

/********* ESTILO RESPONSI LOGIN IZQUIERDO *********/
@media (max-width:414px){
  .contenedor-add{
    margin: 0;
    padding: 0;
    background: #E9F8FC !important;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .contenedor-login{
    height: 600px;
    border-radius:0;
    padding-top:70px;
    background: #E9F8FC !important;
  }
  .crear-cuenta{
    display: block;
    margin: 30px auto;
  }

  .olvido-contraseña{
    margin-top:-10px; 
    margin-left: 30px;
  }
}

