<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
    
            <div class="col-md-6">
                <h2 class="font-bold">Apolonia</h2>
    
                <p>
                    Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                </p>
    
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
    
                <p>
                    When an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
    
                <p>
                    <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
                </p>
    
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <form class="m-t" (ngSubmit)=login(form) #form="ngForm">
                        <div class="form-group">
                            <small class="text-danger" *ngIf="form.submitted && form.controls['correo'].errors">
                                Falta ingresar un correo electronico
                            </small>
                            <input name="correo" type="email" class="form-control" placeholder="Correo" [(ngModel)]="user.correo" required mail>
                        </div>
                        <div class="form-group">
                            <small class="text-danger" *ngIf="form.submitted && form.controls['password'].errors">
                                No ha ingresado una contraseña
                            </small>
                            <input type="password" name="password" class="form-control" placeholder="Contraseña" [(ngModel)]="user.password" required>
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Iniciar Sesión</button>
    
                        <a href="#">
                            <small>¿Olvido su contraseña?</small>
                        </a>
    
                        <p class="text-muted text-center">
                            <small>¿No tienes cuenta?</small>
                        </p>
                        <a class="btn btn-sm btn-white btn-block" [routerLink]="['/register']">Crear cuenta</a>
                    </form>
                    <p class="m-t">
                        <small>Apolonia Software Dental &copy; 2020</small>
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                Copyright Apolonia
            </div>
            <div class="col-md-6 text-right">
               <small>© 2020</small>
            </div>
        </div>
    </div>
</body>