<div mat-dialog-title><h2>Crear Usuario</h2></div>
<div mat-dialog-content>
    <form [formGroup]="userForm">

        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="tipo_documento" required>
                <mat-option>-----</mat-option>
                <mat-option *ngFor="let tipo of tipo_documentos" [value]="tipo.documento">
                    {{tipo.nombre_documento | titlecase}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.get('tipo_documento').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>

        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Número de documento</mat-label>
            <input type="text" matInput formControlName="numero_documento" required>
            <mat-error *ngIf="userForm.get('numero_documento').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>

        <mat-form-field class="p-2" appearance="outline">
          <mat-label>Tipo de usuario</mat-label>
          <mat-select formControlName="tipo_usuario" required>
              <mat-option>-----</mat-option>
              <mat-option *ngFor="let tipo  of tipo_usuario" [value]="tipo.id_tipo">
                  {{tipo.nombre_tipo_usuario | titlecase}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('tipo_usuario').hasError('required')">Por favor seleccione una opción</mat-error>
      </mat-form-field>
      <br>
        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Nombres</mat-label>
            <input type="text" matInput formControlName="nombre" required>
            <mat-error *ngIf="userForm.get('nombre').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>


        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input type="text" matInput formControlName="apellido" required>
            <mat-error *ngIf="userForm.get('apellido').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>

        <mat-form-field class="p-2" appearance="outline">
          <mat-label>Genero</mat-label>
          <mat-select formControlName="genero" required>
              <mat-option>-----</mat-option>
              <mat-option value='masculino'>Masculino</mat-option>
              <mat-option value='femenino'>Femenino</mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.get('genero').hasError('required')">Por favor seleccione una opción</mat-error>
      </mat-form-field>


        <mat-form-field class="p-2" appearance="outline">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName='fecha_nacimiento'>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          <mat-error *ngIf="userForm.get('fecha_nacimiento').hasError('required')">Por favor ingrese una fecha</mat-error>
      </mat-form-field>


        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Dirección</mat-label>
            <input type="text" matInput formControlName="direccion" required>
            <mat-error *ngIf="userForm.get('tipo_documento').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>


        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Ciudad</mat-label>
                <mat-select formControlName="ciudad" required>
                    <mat-option>-----</mat-option>
                    <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">
                        {{ciudad.ciudad}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.get('ciudad').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>


        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Telefono</mat-label>
            <input type="text" matInput formControlName="telefono" required>
            <mat-error *ngIf="userForm.get('telefono').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>


        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Correo</mat-label>
            <input type="text" matInput formControlName="correo" required>
            <mat-error *ngIf="userForm.get('correo').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>


        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado" required>
                <mat-option>-----</mat-option>
                <mat-option *ngFor="let esta  of estado" [value]="esta.idEstado">
                    {{esta.nombreEstado | titlecase}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="userForm.get('estado').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>


        <mat-form-field class="p-2" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput formControlName="password" required>
            <mat-error *ngIf="userForm.get('password').hasError('required')">Por favor seleccione una opción</mat-error>
        </mat-form-field>

    </form>
    <div class="btnContainer">
      <button [routerLink]="['/admin/usuarios']" class="btnRegresar btn-secondary">Regresar</button>
      <button type="submit" class="btnGuardar" (click)="crearUsuario()">Guardar</button>
    </div>

</div>







<!--<h2>Crear medico</h2>

<form [formGroup]="userForm">
    <div class="row">
        <div class="col">
            <select class="form-control" placeholder="Tipo documento" formControlName="tipo_documento" *ngFor="let tipo_documento of tipo_documento" [value]="tipo_documento">
            <option></option>

            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Número Documento" formControlName="numero_documento">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nombres" formControlName="nombre">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellido">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Dirección" formControlName="direccion">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Número de teléfono" formControlName="telefono">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Correo electronico" formControlName="correo">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select type="text" class="form-control" placeholder="Genero" formControlName="genero" *ngFor="let genero of genero" [value]="genero.id">
            <option>masculino</option>
            <option>femenino</option>
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <select class="form-control" placeholder="Estado" formControlName="estado">
            <option>activo</option>
            <option>inactivo</option>

        </select>
        </div>
        <div class="col">
            <select class="form-control" placeholder="Tipo de usuario" formControlName="tipo_usuario">
            <option>administrador</option>
            <option>paciente</option>
            <option>doctor</option>
            <option>adminrecepcion</option>
        </select>
        </div>
    </div>

    <button type="submit" class="btn btn-success" (click)="crearUsuario()">Guardar</button>
</form>
</!-->
