<h2>Crear medico</h2>

<form [formGroup]="userForm">
    <div class="row">
        <div class="col">
            <select class="form-control" placeholder="Tipo documento" formControlName="tipo_documento">
            <option>CC</option>
            <option>CE</option>
            <option>PP</option>
            <option>TI</option>
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Número Documento" formControlName="numero_documento">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nombres" formControlName="nombre">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellido">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Dirección" formControlName="direccion">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Número de teléfono" formControlName="telefono">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Correo electronico" formControlName="correo">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <select type="text" class="form-control" placeholder="Genero" formControlName="genero">
             <option>masculino</option>
            <option>femenino</option>
            </select>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Fecha de nacimiento" formControlName="fecha_nacimiento">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <select class="form-control" placeholder="Estado" formControlName="estado">
            <option>activo</option>
            <option>inactivo</option>
            
        </select>
        </div>
        <div class="col">
            <select class="form-control" placeholder="Tipo de usuario" formControlName="tipo_usuario">
            <option>administrador</option>
            <option>paciente</option>
            <option>doctor</option>
            <option>adminrecepcion</option>
        </select>
        </div>
    </div>
    <button type="submit" class="btn btn-success" (click)="crearUsuario()">Guardar</button>
</form>