<div mat-dialog-title> Editar Disponibilidad</div>
<div mat-dialog-content>
    
    <form [formGroup]="dispoGroup">
        <mat-form-field class="p-2">
            <mat-label>Especialista</mat-label>
            <mat-select formControlName="id_persona" required>
                <mat-option>-----</mat-option>
                <mat-option *ngFor="let medico of medicos" [value]="medico.id">
                    {{medico.nombre+" "+medico.apellido | titlecase}}
                </mat-option>
                </mat-select>
        </mat-form-field>

        <mat-form-field class="p-2">
          <mat-label>Hora de Inicio</mat-label>
          <input matInput [ngxMatDatetimePicker]="picker"
            [min]="minDate" [max]="maxDate" formControlName="horaInicio">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
            [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
            [enableMeridian]="enableMeridian">
            <!-- Custom icon or text of Apply icon -->
            <ng-template>
              <!-- <mat-icon>star</mat-icon> -->
              <span>OK</span>
            </ng-template>
          </ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field class="p-2">
          <mat-label>Hora Fin</mat-label>
          <input matInput [ngxMatDatetimePicker]="picker2"
            [min]="minDate" [max]="maxDate" formControlName="horaFinal">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker2 [showSpinners]="showSpinners" [showSeconds]="showSeconds" [stepHour]="stepHour"
            [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi" [color]="color"
            [enableMeridian]="enableMeridian">
            <!-- Custom icon or text of Apply icon -->
            <ng-template>
              <!-- <mat-icon>star</mat-icon> -->
              <span>OK</span>
            </ng-template>
          </ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field class="p-2">
          <mat-label>Consulta</mat-label>
          <mat-select formControlName="tipo_consulta" required>
              <mat-option>-----</mat-option>
              <mat-option *ngFor="let consulta of consultas" [value]="consulta.id_consulta">
                  {{consulta.nombre_consulta | titlecase}}
              </mat-option>
              </mat-select>
        </mat-form-field>
      
      <mat-form-field class="p-2">
          <mat-label>Consultorios</mat-label>
          <mat-select formControlName="consultorio" required>
              <mat-option>-----</mat-option>
              <mat-option *ngFor="let consultorio of consultorio" [value]="consultorio.id_consultorio">
                  {{consultorio.nombre_consultorio | titlecase}}
              </mat-option>
              </mat-select>
      </mat-form-field>

      <mat-form-field class="p-2">
        <mat-label>Disponibilidad</mat-label>
        <mat-select formControlName="estado" required>
            <mat-option>-----</mat-option>
            <mat-option *ngFor="let disponibilidad of disponibilidades" [value]="disponibilidad.idEstado">
                {{disponibilidad.nombreEstado | titlecase}}
            </mat-option>
            </mat-select>
      </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn-cancelar" (click)="cerrar()">Cancelar</button>
    <button mat-button class="btn-primary"(click)="guardar()">Guardar</button>
</div>