<div class="container">
  <button class="btn btn-info float-right" (click)="verTemporales()" *ngIf="!temporales">Mostrar temporales</button>
  <button class="btn btn-info float-right" (click)="quitarTemporales()" *ngIf="temporales">Quitar temporales</button>
  <br>
  <br>
  <main id="odontograma" #odontograma class="container pt-3 animated fadeInDown">
    <div id="arcada1" class="col-6 float-left">
      <div class="float-right">
        <svg height="50" width="50" id="{{diente}}" *ngFor="let diente of arcada1">
          <text x="20" y="9" fill="black" style="font-size: 10px;">{{diente}}</text>
          <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1"/>
          <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2"/>
          <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3"/>
          <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4"/>
          <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" id="l5"/>
          <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="P"/>
          <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="M"/>
          <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="V"/>
          <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="D"/>
          <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="O"/>
          <line x1="10" y1="10" x2="50" y2="50" stroke="" stroke-width="" id="ausente"></line>
          <line x1="50" y1="10" x2="10" y2="50" stroke="" stroke-width="" id="ausente"></line>
        </svg>
      </div>
      <div id="temporal1" class="float-right animated fadeIn" *ngIf="temporales">
        <svg height="50" width="50" id="{{dientep}}" *ngFor="let dientep of temporal1">
          <text x="20" y="9" fill="black" style="font-size: 10px;">{{dientep}}</text>
          <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1"/>
          <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2"/>
          <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3"/>
          <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4"/>
          <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" id="l5"/>
          <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="P"/>
          <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="M"/>
          <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="V"/>
          <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="D"/>
          <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="O"/>
          <line x1="10" y1="10" x2="50" y2="50" stroke="" stroke-width="" id="ausente"></line>
          <line x1="50" y1="10" x2="10" y2="50" stroke="" stroke-width="" id="ausente"></line>
        </svg>
      </div>
    </div>
    <div id="arcada2" class="col-6 float-right">
      <div class="float-left">
        <svg height="50" width="50" id="{{diente}}" *ngFor="let diente of arcada2">
          <text x="20" y="9" fill="black" style="font-size: 10px;">{{diente}}</text>
          <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1"/>
          <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2"/>
          <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3"/>
          <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4"/>
          <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" id="l5"/>
          <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="P"/>
          <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="D"/>
          <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="V"/>
          <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="M"/>
          <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="O"/>
          <line x1="10" y1="10" x2="50" y2="50" stroke="" stroke-width="" id="ausente"></line>
          <line x1="50" y1="10" x2="10" y2="50" stroke="" stroke-width="" id="ausente"></line>
        </svg>
      </div>
      <div id="temporal2" class="float-left animated fadeIn" *ngIf="temporales">
        <svg height="50" width="50" id="{{diente}}" *ngFor="let diente of temporal2">
          <text x="20" y="9" fill="black" style="font-size: 10px;">{{diente}}</text>
          <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1"/>
          <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2"/>
          <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3"/>
          <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4"/>
          <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" id="l5"/>
          <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="P"/>
          <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="D"/>
          <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="V"/>
          <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="M"/>
          <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="O"/>
          <line x1="10" y1="10" x2="50" y2="50" stroke="" stroke-width="" id="ausente"></line>
          <line x1="50" y1="10" x2="10" y2="50" stroke="" stroke-width="" id="ausente"></line>
        </svg>
      </div>
    </div>
    <div id="arcada4" class="col-6 float-left">
      <div id="temporal3" class="float-right animated fadeIn" *ngIf="temporales">
        <svg height="50" width="50" id="{{diente}}" *ngFor="let diente of temporal3">
          <text x="20" y="9" fill="black" style="font-size: 10px;">{{diente}}</text>
          <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1"/>
          <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2"/>
          <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3"/>
          <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4"/>
          <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" id="l5"/>
          <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="V"/>
          <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="M"/>
          <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="P"/>
          <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="D"/>
          <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="O"/>
          <line x1="10" y1="10" x2="50" y2="50" stroke="" stroke-width="" id="ausente"></line>
          <line x1="50" y1="10" x2="10" y2="50" stroke="" stroke-width="" id="ausente"></line>
        </svg>
      </div>
      <div class="float-right">
        <svg height="50" width="50" id="{{diente}}" *ngFor="let diente of arcada4">
          <text x="20" y="9" fill="black" style="font-size: 10px;">{{diente}}</text>
          <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1"/>
          <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2"/>
          <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3"/>
          <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4"/>
          <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" id="l5"/>
          <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="V"/>
          <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="M"/>
          <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="P"/>
          <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="D"/>
          <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="O"/>
          <line x1="10" y1="10" x2="50" y2="50" stroke="" stroke-width="" id="ausente"></line>
          <line x1="50" y1="10" x2="10" y2="50" stroke="" stroke-width="" id="ausente"></line>
        </svg>
      </div>
    </div>
    <div id="arcada3" class="col-6 float-right">
      <div id="temporal4" class="float-left animated fadeIn" *ngIf="temporales">
        <svg height="50" width="50" id="{{diente}}" *ngFor="let diente of temporal4">
          <text x="20" y="9" fill="black" style="font-size: 10px;">{{diente}}</text>
          <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1"/>
          <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2"/>
          <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3"/>
          <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4"/>
          <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" id="l5"/>
          <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="V"/>
          <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="D"/>
          <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="P"/>
          <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="M"/>
          <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="O"/>
          <line x1="10" y1="10" x2="50" y2="50" stroke="" stroke-width="" id="ausente"></line>
          <line x1="50" y1="10" x2="10" y2="50" stroke="" stroke-width="" id="ausente"></line>
        </svg>
      </div>
      <div class="float-left">
        <svg height="50" width="50" id="{{diente}}" *ngFor="let diente of arcada3">
          <text x="20" y="9" fill="black" style="font-size: 10px;">{{diente}}</text>
          <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1"/>
          <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2"/>
          <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3"/>
          <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4"/>
          <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" id="l5"/>
          <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="V"/>
          <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="D"/>
          <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="P"/>
          <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="M"/>
          <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="O"/>
          <line x1="10" y1="10" x2="50" y2="50" stroke="" stroke-width="" id="ausente"></line>
          <line x1="50" y1="10" x2="10" y2="50" stroke="" stroke-width="" id="ausente"></line>
        </svg>
      </div>
    </div>
  </main>
  <br>
  <br>
    <div class="form-group">
      <label>Observaciones</label>
      <textarea class="form-control" rows="3" #comentario
      ></textarea>
    </div>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle class="btn-warning" (click)="amarillo()">Amarillo</mat-button-toggle>
    <mat-button-toggle class="btn-danger" (click)="rojo()">Rojo</mat-button-toggle>
    <mat-button-toggle (click)="blanco()">Borrar</mat-button-toggle>
    <mat-button-toggle (click)="borrarTodo()">Limpiar todo</mat-button-toggle>  
  </mat-button-toggle-group>
  <button mat-button class="btn-primary float-right" (click)="guardarOdonto()">Guardar</button>
  <button mat-button class="btn-secondary float-right" [routerLink]="['/doctor/pacientes']">Cancelar</button>
</div>