<main id="odontograma" #odontograma class="container">
  <div id="arcada1" class="col-6 float-left">
    <svg height="50" width="50" id="p18" #p18>
      <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1" #p18l1/>
      <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2" #p18l2/>
      <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3" #p18l3/>
      <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4" #p18l4/>
      <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" (click)="changeColor(p18l5)" id="l5" #p18l5/>
      <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="l6" #p18l6/>
      <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="l7" #p18l7/>
      <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="l8" #p18l8/>
      <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="l9" #p18l9/>
      <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="l10" #p18l10/>
    </svg>
    <svg height="50" width="50" id="p18" #p18>
      <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1" #p18l1/>
      <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2" #p18l2/>
      <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3" #p18l3/>
      <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4" #p18l4/>
      <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" (click)="changeColor(p18l5)" id="l5" #p18l5/>
      <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="l6" #p18l6/>
      <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="l7" #p18l7/>
      <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="l8" #p18l8/>
      <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="l9" #p18l9/>
      <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="l10" #p18l10/>
    </svg>
    <svg height="50" width="50" id="p18" #p18>
      <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1" #p18l1/>
      <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2" #p18l2/>
      <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3" #p18l3/>
      <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4" #p18l4/>
      <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" (click)="changeColor(p18l5)" id="l5" #p18l5/>
      <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="l6" #p18l6/>
      <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="l7" #p18l7/>
      <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="l8" #p18l8/>
      <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="l9" #p18l9/>
      <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="l10" #p18l10/>
    </svg>
    <svg height="50" width="50" id="p18" #p18>
      <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1" #p18l1/>
      <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2" #p18l2/>
      <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3" #p18l3/>
      <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4" #p18l4/>
      <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" (click)="changeColor(p18l5)" id="l5" #p18l5/>
      <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="l6" #p18l6/>
      <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="l7" #p18l7/>
      <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="l8" #p18l8/>
      <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="l9" #p18l9/>
      <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="l10" #p18l10/>
    </svg>
  </div>
  <div id="arcada3" class="col-6 float-right">
    <svg height="50" width="50" id="p18" #p18>
      <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1" #p18l1/>
      <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2" #p18l2/>
      <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3" #p18l3/>
      <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4" #p18l4/>
      <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" (click)="changeColor(p18l5)" id="l5" #p18l5/>
      <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="l6" #p18l6/>
      <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="l7" #p18l7/>
      <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="l8" #p18l8/>
      <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="l9" #p18l9/>
      <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="l10" #p18l10/>
    </svg>
  </div>
  <div id="arcada3" class="col-6 float-left">
    <svg height="50" width="50" id="p18" #p18>
      <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1" #p18l1/>
      <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2" #p18l2/>
      <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3" #p18l3/>
      <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4" #p18l4/>
      <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" (click)="changeColor(p18l5)" id="l5" #p18l5/>
      <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="l6" #p18l6/>
      <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="l7" #p18l7/>
      <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="l8" #p18l8/>
      <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="l9" #p18l9/>
      <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="l10" #p18l10/>
    </svg>
  </div>
  <div id="arcada4" class="col-6 float-right">
    <svg height="50" width="50" id="p18" #p18>
      <polygon points="10,15 15,10 50,45 45,50" fill="white" stroke="black"id="l1" #p18l1/>
      <polygon points="45,10 50,15 15,50 10,45" fill="white" stroke="black" id="l2" #p18l2/>
      <circle cx="30" cy="30" r="16" fill="white" stroke="black" id="l3" #p18l3/>
      <circle cx="30" cy="30" r="20" fill="white" stroke="black" id="l4" #p18l4/>
      <polygon points="50,10 40,10 10,26 10,32 46,32 10,50 20,50 50,36 50,28 14,28" fill="white" stroke="black" (click)="changeColor(p18l5)" id="l5" #p18l5/>
      <polygon points="10,10 50,10 40,20 20,20" fill="white" stroke="black" id="l6" #p18l6/>
      <polygon points="50,10 50,50 40,40 40,20" fill="white" stroke="black" id="l7" #p18l7/>
      <polygon points="50,50 10,50 20,40 40,40" fill="white" stroke="black" id="l8" #p18l8/>
      <polygon points="10,50 20,40 20,20 10,10" fill="white" stroke="black" id="l9" #p18l9/>
      <polygon points="20,20 40,20 40,40 20,40" fill="white" stroke="black" id="l10" #p18l10/>
    </svg>
  </div>
</main>

<div>
  <button class="btn btn-warning" (click)="amarillo()">Amarillo</button>
</div>
<div>
  <button class="btn btn-danger" (click)="rojo()">Rojo</button>
</div>
<div>
  <button class="btn btn-primary" (click)="guardarOdonto()">Guardar</button>
  <button class="btn btn-success" (click)="cargarOdonto()">Cargar</button>
</div>