.container{
  font-family:'Poppins' sans-serif;
}
.corona
		{
			fill:none;
			opacity: 0;
		}
.endodoncia
		{
			fill:none;
			opacity: 0;
		}

.diente{
    fill-opacity:0;
    stroke:black;
    stroke-width:1px;
}

#arcada1{
}
#arcada2{
	border-left: 2px solid black;
}

#arcada4{
	border-top: 2px solid black;
}

#arcada3{
	border-left: 2px solid black;
	border-top: 2px solid black;
}

.form-control, .single-line{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.detalle{
  font-family:'Poppins' sans-serif;
  font-weight: 300;
  font-size: larger;
}
mat-form-field{
  font-family:'Poppins' sans-serif;
  margin-right: 2rem;
}
mat-label{
  font-size: medium;
  color: #767676;
}
.contenedor{
  margin-top:20%;
  margin-left:3%;
}
