table {
  width:100%;
}
h1{
  font-size: 30px;
  width: 30%;
  display: block;
  font-size: 23px;
  font-weight: 300;
  padding: 20px 30px 0px 30px;
  margin-bottom: -30px;
}
th{
  background-color: #33C8FA !important;
  color:rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}
td{
  color:#555555;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
}
.mat-form-field {
  font-size: 20px;
  width: 20%;
  display: block;
  margin-bottom: -20px;
  margin: -50px 30px 0px 30px;
}
.mat-row:hover {
  background-color:#6c757d15;

}
.colums{
  text-align: center;
}
.btnVerDetalle{
    background-image: linear-gradient(to right, #33C8FA 0%, #33C8FA  51%, #33C8FA  100%);
    margin: 10px ;
    margin-left:8%;
    padding: 2px 9px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 6px;
    display: block;
}
.btnbtnVerDetalle:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
