/* Structure */
.contenedor{
  font-family: 'Poppins', sans-serif;
}
table {
    width: 100%;
  }

  th{
    color:#888888;
    font-size: 16px;
    font-weight: 500;

  }
  td{
    color:#555555;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
    margin: 0 6px 0 0;
  }

  .mat-form-field {
    font-size: 14px;
    width: 16%;
  }
  .mat-row:hover {
    background-color:#6c757d15;

  }

.colums{
  text-align: center;
}

.contenedorBtn{
  padding-left: 3%;
}

.destroy{
  color: #dc3545;
}

.edit{
  color:#33C8FA;
}

h2 small{
  font-family: 'Poppins', sans-serif;
  color: #888888 !important;
}

/********** ESTILOS BOTON CREAR DISPONIBILIDAD *********/
.botonDispo{
  background-image: linear-gradient(to right, #33C8FA 0%, #33C8FA  51%, #33C8FA  100%);
  font-size: large;
  font-family: 'Poppins', sans-serif;
  margin-left:75%;
  font-weight: 500;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 20px #eee;
  transition: 0.5s;

}
.botonDispo:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
