/* Structure */
.contenedor{
  font-family: 'Poppins', sans-serif;
}
table {
  width: 100%;
}
h1{
  font-size: 30px;
  width: 40%;
  display: block;
  font-size: 23px;
  font-weight: 300;
  padding: 20px 30px 0px 30px;
  margin-bottom: -30px;
}
th{
  background-color: #33C8FA !important;
  color:rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 600;
}
td{
  color:#555555;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  margin: 0 6px 0 0;
}
.mat-form-field {
  font-size: 20px;
  width: 20%;
  display: block;
  margin-bottom: -20px;
  margin: -50px 30px 0px 30px;
}
.mat-row:hover {
  background-color:#6c757d15;
}
.colums{
  text-align: center;
}
.contenedorBtn{
  padding-left: 3%;
}
.destroy{
  color: #dc3545;
}
.edit{
  color:#33C8FA;
}
h2 small{
  font-family: 'Poppins', sans-serif;
  color: #888888 !important;
}
/********** ESTILOS BOTON CREAR DISPONIBILIDAD *********/
.botonCita{
  background-image: linear-gradient(to right, #33C8FA 0%, #33C8FA  51%, #33C8FA  100%);
  font-size: large;
  font-family: 'Poppins', sans-serif;
  margin-left:85%;
  font-weight: 500;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 20px #eee;
  transition: 0.5s;
}
.botonCita:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
