<div class="contenedor table-responsive contenido">
  <div class="row p-3">
    <h2><small>&nbsp; Cita</small></h2>
    <button class="botonDispo btn btn-primary" (click)="Adddialog()">
      <i class="fas fa-calendar-plus"></i>&nbsp; Cita
    </button>
  </div>

  <div class="mat-elevation-z8 animated fadeInDown">
  <mat-form-field class="p-3" style="font-weight: 600; margin-left:81%; font-size:13px;">
    <input matInput (keyup)="applyFilter($event.target.value)"
    placeholder="Buscador">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="medico">
      <th mat-header-cell *matHeaderCellDef> Especialista</th>
      <td mat-cell *matCellDef="let element"> {{element.nombre+" "+element.apellido | titlecase}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fechaInicio">
      <th mat-header-cell *matHeaderCellDef> Fecha inicio</th>
      <td mat-cell *matCellDef="let element"> {{element.fechaInicio}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="consulta">
      <th mat-header-cell *matHeaderCellDef> Consulta</th>
      <td mat-cell *matCellDef="let element"> {{element.consulta | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado</th>
      <td mat-cell *matCellDef="let element"> {{element.estado | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th class="colums" mat-header-cell *matHeaderCellDef> Aciones</th>
      <td class="contenedorBtn" mat-cell *matCellDef="let element">
        <button  mat-icon-button   class="edit" (click)="dialog(element.id)" focusable="false"><i class="fas fa-pen-alt"></i>
        </button>

      </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns:columns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  </div>

